* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.min-h-screen {
    min-height: 100vh;
}

.max-auto {
    margin-left: auto;
    margin-right: auto;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3.75rem;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    gap: 6rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

.right input {
    padding: .5rem 3rem .5rem 3rem;
    margin-right: 5rem;
    margin-left: 2rem;
    border-radius: 20rem;
    width: 11.25rem;
    height: 2.5rem;
    border: 2px solid rgb(0, 0, 0);
}

nav ul li {
    font-size: 1rem;
    list-style: none;
    margin: 0rem 2.3rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
    background:
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgb(0, 0, 0)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

nav ul li a:hover {
    background-size: 0 3px, 100% 3px;

}

.left img {
    height: 18%;
    width: 18%;
    margin-left: 3rem;
}

.section1 {
    height: 89vh;
}

.section1 img {
    height: 100vh;
    width: 100%;
    /* opacity: .9; */
}

.topleft {
    width: 50%;
    margin-left: 5rem;
}

.topleft h1 {
    font-size: 5rem;
    font-weight: bolder;
    line-height: 4.5rem;
    color: white;
    /* margin-top: 1rem; */
    text-shadow: 15px 15px 15px black;
    -webkit-text-stroke-width: medium;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.topleft h1:hover {
    cursor: pointer;
}

.topleft p {
    font-size: 17px;
    line-height: 25px;
    margin-top: 1.5rem;
    color: rgb(44 44 44);
    font-weight: 600;
}

.topleft button {
    margin: 1rem 0rem;
    padding: 0.5rem;
    width: 9rem;
    font-size: 1rem;
    font-weight: 900;
    border: 4px solid #757373;
    border-radius: 2rem;
}

.topleft button:hover {
    color: black;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    cursor: pointer;
    border: 4px solid #000000;
}

.topright {
    width: 50%;
    margin-right: 5rem;
}

.flex {
    position: absolute;
    top: 3.4rem;
    display: flex;
    align-items: center;
    height: 89vh;
}

.topright img {
    height: 30rem;
    width: 36rem;
    margin-top: 2rem;
    margin-left: 2rem;
    filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
}

.topright img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    transform: scale(1.05);
}

.new img {
    width: 88.15%;
    margin-left: 5rem;
    filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
}

.new img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    transform: scale(1.05);
}

.new h1 {
    font-size: 4rem;
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(56 56 56);
    font-weight: 900;
    -webkit-text-stroke-width: medium;
}

.new h2 {
    color: rgb(56 56 56);
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 400;
}

.new2 h1 {
    font-size: 4rem;
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
    color: rgb(56 56 56);
    font-weight: 900;
    -webkit-text-stroke-width: medium;
}

.box {
    display: flex;
    margin-left: .9rem;
}

.box1 {
    color: rgb(0, 0, 0);
    margin: 4rem 4rem 2rem 4rem;
    border: 4px solid rgb(145 145 145);
    padding: .5rem;
}

.box1 img {
    height: 21rem;
    width: 18rem;
}

.box1 img:hover {
    transform: scale(1.05);
}

.box1 h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.box1 button {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    font-weight: 900;
    border: .2rem solid rgb(145, 145, 145);
}

.box1 button:hover {
    color: black;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    cursor: pointer;
    border: 2px solid black;
}

.new3 .box3 {
    display: flex;
    margin-left: 8rem;
}

.new3 h1 {
    font-size: 4rem;
    margin: 2rem 0rem 3rem 0rem;
    text-align: center;
    color: rgb(56, 56, 56);
    font-weight: 900;
    -webkit-text-stroke-width: medium;
}

.category h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
    font-size: 1.7rem;
}

.category p {
    color: rgb(0, 0, 0);
    line-height: 2.5rem;
}

.category {
    margin-left: 3rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    color: rgb(180, 173, 173);
    background-color: black;
    width: 100%;
    height: 60vh;
    padding: 2rem;
    line-height: 2.5rem;
}

.content p {
    font-size: .7rem;
}

.content .store {
    width: 15rem;
    margin-left: 2rem;
}

.content .gethelp {
    width: 15rem;
    margin-left: 3rem;
}

.content .about {
    width: 15rem;
    margin-left: 6rem;
}

.bottom {
    color: white;
    background-color: black;
    font-size: .8rem;
    /* margin-left: 3rem; */
}

.icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 0.1rem solid #898989;
    border-radius: 50%;
    font-size: 1rem;
    color: #898989;
    text-decoration: none;
    margin: 0rem .5rem 3rem 0rem;
}

.content .icon {
    margin-left: 8rem;
}

.icon a:hover {
    background-color: #898989;
    color: black;
    box-shadow: 0rem 0rem 2rem #898989;
}

@media (max-width:390px) {
    body {
        width: 100%;
    }

    nav {
        width: 326.54%;
    }

    .flex {
        width: 326.54%;
        height: 72vh;
    }

    .topright img {
        margin-top: 1rem;
    }

    .new h1 {
        width: 326.54%;
        margin-top: -7rem;
    }

    .new h2 {
        width: 326.54%;
    }

    .new img {
        width: 285%;
    }

    .new2 h1 {
        width: 326.54%;
    }

    .box {
        margin-left: -1.1rem;
    }

    .new3 h1 {
        width: 326.54%;
    }

    .content {
        width: 326.54%;
    }

    .bottom {
        width: 326.54%;
    }

    .new3 .box3 {
        margin-left: 13rem;
    }
}

@media (max-width:360px) {
    nav {
        width: 343.54%;
    }

    .flex {
        width: 343.54%;
        height: 117vh;
    }

    .topright img {
        margin-top: 1rem;
    }

    .topleft h1 {
        margin-top: 2rem;
        font-weight: 500;
    }

    .new h1 {
        width: 343.54%;
        margin-top: 8rem;
        font-size: 4rem;
        text-align: center;
        color: rgb(56 56 56);
        font-weight: 500;
    }

    .new h2 {
        width: 343.54%;
    }

    .new img {
        width: 285%;
    }

    .new2 h1 {
        width: 343.54%;
        font-size: 4rem;
        margin: 2rem 0rem 0rem 0rem;
        text-align: center;
        color: rgb(56 56 56);
        font-weight: 500;
    }

    .box {
        margin-left: -1.1rem;
    }

    .new3 h1 {
        width: 343.54%;
        font-size: 4rem;
        margin: 2rem 0rem 3rem 0rem;
        text-align: center;
        color: rgb(56, 56, 56);
        font-weight: 500;
    }

    .content {
        width: 343.54%;
    }

    .bottom {
        width: 343.54%;
    }

    .new3 .box3 {
        margin-left: 13rem;
    }

    .box1 {
        margin-right: 1rem;
    }
}